<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos personales</title>
</head>
  <body>
    <form>
      <fieldset>

        <a href=""></a>

        <legend>Datos personales</legend>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre"></input>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido"></input>

        <!--
        <label for="fechaNac">Fecha de nacimiento</label>
        <input type="date" name="fechaNac" id="fechaNac"></input>
        <p>Género</p>
        <label for="masculino">Masculino</label>
        <input type="radio" name="genero" id="masculino" value="masculino"></input>
        <label for="femenino">Femenino</label>
        <input type="radio" name="genero" id="femenino" value="femenino"></input>
        <label for="otro">Otro</label>
        <input type="radio" name="genero" id="otro" value="otro"></input> -->
      </fieldset>

    </form>
  </body>
</html>