<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos bancarios</title>
    <link rel="stylesheet" href="/css/estilos.css"></link>
</head>
<body id="body-bancarios">

    <a href="/datos-personales" id="datos-personales">
        <img src="/img/Number-1-icon.png" alt="Paso 1">
    </a>
    <a href="/datos-profesionales" id="datos-profesionales">
        <img src="/img/Number-2-icon.png" alt="Paso 2"></img>
    </a>
    <a href="/datos-bancarios" id="datos-bancarios">
        <img src="/img/Number-3-icon.png" alt="Paso 3"></img>
    </a>
    <a href="/resumen" id="resumen">
        <img src="/img/checkered-flag-icon.png" alt="Paso 4"></img>
    </a>
    <form>
        <fieldset>
            <legend>Datos bancarios</legend>
            <label for="cuenta">Cuenta corriente</label>
            <input type="text" name="cuenta" id="cuenta"></input>
        </fieldset>
    </form>
</body>
</html>