<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos profesionales</title>
    <link rel="stylesheet" href="/css/estilos.css"></link>
</head>
<body>

    <a href="/datos-personales" id="personal">
        <img src="/img/Number-1-icon.png" alt="Paso 1">
    </a>
    <a href="/datos-profesionales">
        <img src="/img/Number-2-icon.png" alt="Paso 2"></img>
    </a>
    <a href="/datos-bancarios">
        <img src="/img/Number-3-icon.png" alt="Paso 3"></img>
    </a>
    <a href="/resumen">
        <img src="/img/checkered-flag-icon.png" alt="Paso 4"></img>
    </a>

    <form action="/datos-profesionales">
        <fieldset>
            <legend>Datos profesionales</legend>
            <label for="Departamento">Departamento</label>
            <select name="Departamento" id="Departamento">
                <option value="">Seleccione</option>
                <option value="marketing">Marketing</option>
            </select>

            <label for="salario">Salario</label>
            <select name="salario" id="salario"></select>
        </fieldset>
    </form>
</body>
</html>