<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos personales</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
  <body id="body-personales">

      <a href="/datos-personales" id="datos-personales">
        <img src="/img/Number-1-icon.png" alt="Paso 1">
      </a>
      <a href="/datos-profesionales" id="datos-profesionales">
        <img src="/img/Number-2-icon.png" alt="Paso 2">
      </a>
      <a href="/datos-bancarios" id="datos-bancarios">
        <img src="/img/Number-3-icon.png" alt="Paso 3">
      </a>
      <a href="/resumen" id="resumen">
        <img src="/img/checkered-flag-icon.png" alt="Paso 4">
      </a>


      <h2 th:text="*{mensajeNOK}" class="error"></h2>

      <form action="/guardar-datos-personales" method="POST" th:object="${datos}">



      <fieldset>
        <legend>Datos personales</legend>
        <label for="nombre">Nombre</label>


          <input type="text" name="nombre" id="nombre"
                 th:value="${datos.getNombre() != null ? datos.getNombre() : ''}">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido"
               th:value="${datos.getApellido() != null ? datos.getApellido() : ''}">

        <label for="fechaNacimiento">Fecha de nacimiento</label>
        <input type="text" name="fechaNacimiento" id="fechaNacimiento"
               th:value="${datos.getFechaNacimiento() != null ? datos.getFechaNacimiento() : ''}"></input> <br>

          <div th:each="error : ${#fields.errors('fechaNacimiento')}" th:text="${error}" class="error"></div>

          <span>Género</span>
          <div th:each="genero: ${listaGeneros}">
              <input type="radio" name="generoSeleccionado"
                     th:checked="${genero == datos.getGeneroSeleccionado()}"
                     th:value="${genero}" th:id="${genero}" />
              <label th:for="${genero}" th:text="${genero}"></label>
          </div>


          <label for="nacionalidadSeleccionada">Nacionalidad</label>
          <select name="nacionalidadSeleccionada" id="nacionalidadSeleccionada" multiple>
              <option th:each="nacionalidad: ${listaNacionalidades}"
                      th:value="${nacionalidad}"
                      th:text="${nacionalidad}"
                      th:selected="${datos.getNacionalidadSeleccionada() != null
                       and datos.getNacionalidadSeleccionada().contains(nacionalidad)}"
              ></option>
          </select>

          <div th:each="error : ${#fields.errors('nacionalidadSeleccionada')}" th:text="${error}" class="error"></div>


          <button type="submit">Grabar información e ir al paso 2 - Datos profesionales</button>
      </fieldset>

    </form>
  </body>
</html>