<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos personales</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
  <body id="datos-personales">

      <a href="/datos-personales" id="personal">
        <img src="/img/Number-1-icon.png" alt="Paso 1">
      </a>
      <a href="/datos-profesionales" id="profesionales">
        <img src="/img/Number-2-icon.png" alt="Paso 2"></img>
      </a>
      <a href="/datos-bancarios">
        <img src="/img/Number-3-icon.png" alt="Paso 3"></img>
      </a>
      <a href="/resumen">
        <img src="/img/checkered-flag-icon.png" alt="Paso 4"></img>
      </a>

    <form action="/datos-personales">
      <fieldset>
        <legend>Datos personales</legend>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre"></input>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido"></input>

        <!--
        <label for="fechaNac">Fecha de nacimiento</label>
        <input type="date" name="fechaNac" id="fechaNac"></input>
        <p>Género</p>
        <label for="masculino">Masculino</label>
        <input type="radio" name="genero" id="masculino" value="masculino"></input>
        <label for="femenino">Femenino</label>
        <input type="radio" name="genero" id="femenino" value="femenino"></input>
        <label for="otro">Otro</label>
        <input type="radio" name="genero" id="otro" value="otro"></input> -->
      </fieldset>

    </form>
  </body>
</html>