<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resumen</title>
    <link rel="stylesheet" href="/css/estilos.css"></link>
</head>
<body id="body-resumen">

  <a href="/datos-personales" id="datos-personales">
    <img src="/img/Number-1-icon.png" alt="Paso 1">
  </a>
  <a href="/datos-profesionales" id="datos-profesionales">
    <img src="/img/Number-2-icon.png" alt="Paso 2"></img>
  </a>
  <a href="/datos-bancarios" id="datos-bancarios">
    <img src="/img/Number-3-icon.png" alt="Paso 3"></img>
  </a>
  <a href="/resumen" id="resumen">
    <img src="/img/checkered-flag-icon.png" alt="Paso 4"></img>
  </a>

  <p th:text="${datos.getNombre() != null ? datos.getNombre() : ''}"></p>
  <p th:text="${datos.getGeneroSeleccionado() != null ? datos.getGeneroSeleccionado() : ''}"></p>
  <p th:text="${datos.getNacionalidadSeleccionada() != null ? datos.getNacionalidadSeleccionada() : ''}"></p>

  <p th:text="${datos.getBancoNombre() != null ? datos.getBancoNombre() : ''}"></p>
  <p th:text="${datos.getCuentaBancaria() != null ? datos.getCuentaBancaria() : ''}"></p>
</body>
</html>